@(user: User, speaker: Speaker)

@moreScript = {
    <script src="https://unpkg.com/react/dist/react.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/react-dom/dist/react-dom.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/moment/min/moment.min.js" type="text/javascript"></script>
    <script src="https://unpkg.com/showdown/dist/showdown.min.js" type="text/javascript"></script>
    <script src="https://fb.me/JSXTransformer-0.13.3.js" type="text/javascript"></script>
    <!--script type="text/javascript" src="/assets/javascripts/JSXTransformer-0.13.3.js"></script>
    <script type="text/javascript" src="/assets/javascripts/react.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/react-dom.min.js"></script>
    <script type="text/javascript" src="/assets/javascripts/showdown.min.js"></script-->
    <script type="text/javascript">
        window.__speaker = @Html(play.api.libs.json.Json.prettyPrint(speaker.toJson));
    </script>
    <script type="text/jsx" src="/assets/javascripts/edit.js"></script>
}

@main("Edit profile", Some(user), scripts = moreScript) {
    <div id="app" class="container"></div>
}