@(user: User, speaker: Speaker)

@moreScript = {
    <script type="text/javascript">
      Speakerz.initEditView(@Html(play.api.libs.json.Json.prettyPrint(speaker.toJson)))
    </script>
}

@main("Edit profile", Some(user), scripts = moreScript) {
    <div class="container">
      <p style="width: 100%;display: flex; justify-content: center">
        Your can be found at&nbsp;<a href="http://www.speakerz.io/speakers/@(speaker.id)" target="_blank">http://www.speakerz.io/speakers/@(speaker.id)</a>
      </p>
    </div>
    <div id="app" class="container"></div>
}
