@()

@moreScripts = {
    <script>
        $(function() {
            var openPR = false;
            $('#profile_container').hide();
            $('#input_nickname').keyup(function(e) {
                var value = $(this).val();
                $.get('/speakers?nickname=' + value).then(function(data) {
                    if (data.link) {
                        // $('#label').removeAttr('error').data('success', 'right');
                        $('#create_button').attr('href', data.link).removeClass('grey').addClass('green').html('Create your profile');
                        $('#profile').attr('href', data.profile).html('https://speakerz.io' + data.profile);
                        $('#profile_container').show();
                        openPR = true;
                    } else {
                        // $('#label').data('error', 'wrong').removeAttr('success');
                        $('#create_button').attr('href', '#').removeClass('green').addClass('grey').html('You should try an actual nickname');
                        $('#profile').attr('href', '#').html('');
                        $('#profile_container').hide();
                        openPR = false;
                    }
                }, function() {
                    // $('#label').data('error', 'wrong').removeAttr('success');
                    $('#create_button').attr('href', '#').removeClass('green').addClass('grey').html('Sorry, duplicates nickname');
                    $('#profile').attr('href', '#').html('');
                    $('#profile_container').hide();
                    openPR = false;
                });
            });
            $('#create_button').click(function(e) {
               if (!openPR) {
                   e.preventDefault();
               }
            });
        });
    </script>
}

@main("Speakerz", scripts = moreScripts) {
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Speakerz</a>
        </div>
    </nav>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center orange-text">Speakerz</h1>
            <div class="row center">
                <h5 class="header col s12 light">Sharable Speaker profiles with an API</h5>
            </div>
            <div class="row center">
                <div class="row col s6 offset-s3">
                    <input type="text" class="validate" id="input_nickname" placeholder="Your nickname goes here"/>
                    <br/>
                </div>
                <div class="row col s6 offset-s3">
                    <a href="#" id="create_button" target="_blank" class="btn-large waves-effect waves-light grey">Create your profile</a>
                </div>
                <div id="profile_container" class="row col s6 offset-s3">
                    Your future profile will be available at <a href="#" id="profile" target="_blank"></a>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                        <h5 class="center">Speeds up development</h5>
                        <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                        <h5 class="center">User Experience Focused</h5>
                        <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                        <h5 class="center">Easy to work with</h5>
                        <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="section">
        </div>
    </div>

    <footer class="page-footer orange">
        <div class="footer-copyright">
            <div class="container">
                <span>Proudly hosted on <a target="_blank" href="https://www.clever-cloud.com/">Clever Cloud</a></span>
            </div>
        </div>
    </footer>
}