@(user: Option[User])

@customScripts = {
    <script>hljs.initHighlightingOnLoad();</script>
}

@main("Speakerz", user = user, scripts = customScripts) {
<div class="container">
    <h1 class="indigo-text center-align">Speaker's profile with an API</h1>
    <div class="row">
        <div class="col s12 m12 l6">
            <h2 class="center-align">Manage your profile</h2>
            <p class="flow-text center-align">
                Write your profile once, use it everywhere!
            </p>
            <div class="center-align">
            @user match {
                case Some(u) => {
                    <a href="@routes.AccountController.edit()" class="btn-large waves-effect waves-light amber">Edit your profile</a>
                }
                case None => {
                    <a href="@routes.Auth0Controller.login(None)" class="btn-large waves-effect waves-light amber">Create your profile</a>
                }
            }
            </div>
        </div>
        <div class="col s12 m12 l6">
            <h2 class="center-align">Share your profile</h2>
            <div>
                <pre>
                    <code class="bash">
    hash=`echo -n "mail@@you.com" | md5`
    curl http://www.speakerz.io/speakers/$hash
                    </code>
                </pre>
            </div>
            <div class="center-align">
                <a href="#" class="btn-large waves-effect waves-light amber">Browse documentation</a>
            </div>
        </div>
    </div>
</div>
}
