@(user: Option[User])

@customStyles = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/home.css")">
}

@main("Speakerz", user = user, styles = customStyles) {
<div class="container">
    <h1 class="white-text center-align">Speaker's profile with an API</h1>

    <h2 class="white-text light center-align">Write your profile once.<br/>Use it everywhere!</h2>

    <div class="center-align">
    @user match {
        case Some(u) => {
            <a href="@routes.AccountController.edit()" class="btn-large waves-effect waves-light">Edit your profile</a>
        }
        case None => {
            <a href="@routes.Auth0Controller.login(redirect = Some("/edit"))" class="btn-large waves-effect waves-light">Create your profile</a>
        }
    }
    </div>

</div>
}
