@(speaker: models.Speaker, lang: String)

@import utils.Markdown._

@main("Speaker") {

    <div class="container">
        <h1>@speaker.name</h1>
        <div class="row">
            <div class="col s8">
                <div>
                    @Html(markdownToHtml(speaker.resume(lang)))
                </div>
                @for(websiteUrl <- speaker.websiteUrl) {
                    <div>
                        <i class="fa fa-globe" aria-hidden="true"></i> <a href="@websiteUrl">@websiteUrl</a>
                    </div>
                }
                @for(twitterHandle <- speaker.twitterHandle) {
                    <div>
                        <i class="fa fa-twitter" aria-hidden="true"></i> <a href="https://twitter.com/@twitterHandle">@twitterHandle</a>
                    </div>
                }
                @for(githubHandle <- speaker.githubHandle) {
                    <div>
                        <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/@githubHandle">@githubHandle</a>
                    </div>
                }
            </div>
            <div class="col s4">
                <img class="responsive-img" src="@speaker.avatarUrl" />
            </div>
        </div>
        <h2>Talks</h2>
        @for(talk <- speaker.talks) {
            <h3>@talk.name(lang)</h3>
            <p>@Html(markdownToHtml(talk.`abstract`(lang)))</p>
            <h4>Sessions</h4>
            @for(session <- talk.sessions) {
                <h5>@session.name</h5>
                @for(date <- session.date) {
                    <div>
                        <i class="fa fa-calendar" aria-hidden="true"></i> @date
                    </div>
                }
                @for(place <- session.place) {
                    <div>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> @place.name
                    </div>
                }
                <ul>
                @for(link <- session.links) {
                    <li><a href="@link">@link</a></li>
                }
                </ul>
            }
        }
    </div>
}
