@(speaker: models.Speaker, lang: String)

@import utils.Markdown._

@main("Speaker") {

    <div class="container">
        @for(talk <- speaker.talks) {
            <h3>
                <a name="@talk.id" class="anchor" href="#@talk.id">
                    <i class="fa fa-link" aria-hidden="true"></i>
                </a>
                @talk.name(lang)
            </h3>
            <p>@Html(markdownToHtml(talk.`abstract`(lang)))</p>
            <h4>Sessions</h4>
            @for(session <- talk.sessions) {
                <h5>@session.name</h5>
                @for(date <- session.date) {
                    <div>
                        <i class="fa fa-calendar" aria-hidden="true"></i> @date
                    </div>
                }
                @for(place <- session.place) {
                    @place.location match {
                        case None => {
                            <div>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> @place.name
                            </div>
                        }
                        case Some(location) => {
                            <div>
                                <i class="fa fa-map-marker" aria-hidden="true"></i> <a href="https://www.google.fr/maps/@@@location.lat,@location.lon,15z">@place.name</a>
                            </div>
                        }
                    }

                }
                <ul>
                @for(link <- session.links) {
                    <li><a href="@link">@link</a></li>
                }
                </ul>
            }
        }
    </div>
}
